@page "/dashboard"
@using Client.Pages.Charts

<main>
    <h2>Swim Dashboard</h2>
    <div class="chart-gallery">
        <AvgDPSvsIntervalScatterChart />
        <LengthTimeOverTimeLineChart />
        <StrokeCountVSTimeScatterChart />
        <RestTimeOverTimeLineChart />
    </div>
</main>
