@page "/strokecountvstimescatterchart"
@using Application.Services.UIData;
@using Application.DTOs;
@using Syncfusion.Blazor.Charts
@inject IUIDataService uiDataService;

<div class="chart-container">
    <SfChart Background="#3b3b3b" Title="Stroke Count vs Move Time">
        <ChartTitleStyle Color="white" Size="20px" />
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double" Title="Stroke Count" TitleStyle=@(new ChartAxisTitleStyle(){Color = "white"})>
            <ChartAxisLabelStyle Color="white" />
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double" Title="Length Time (s)" Minimum="10" TitleStyle=@(new ChartAxisTitleStyle(){Color = "white"})>
            <ChartAxisLabelStyle Color="white" />
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@data" XName="StrokeCount" YName="LengthTime" Type="ChartSeriesType.Scatter" Fill="yellow">
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>


@code {
    private List<StrokeCountvsLengthTimeDTO> data;

    protected override void OnInitialized()
    {
        data = uiDataService.GetStrokeCountVSLengthTimeScatterData();
    }

}
